*{
  margin: 0px;
  padding: 0px;
}
.header {
  margin-top: 10px;
  background: rgb(34, 142, 192);
  height: 200px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px; 
  overflow: hidden; 
}
.header img{
  width: 40px;
  height: 40px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}